:root {
  --mobile: 425px;
  --tablet: 768px;
  --desktop: 1024px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a:hover {
  color: blue;
}

.section {
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

.welcome {
  padding: 60px 0;
  min-height: 100vh;
}

@media screen and (max-width: 424px) {
  .container {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .container {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
}
